$font-body: 'Roboto', serif;
$font-header: 'Noto Serif JP', sans-serif;

#articles {
  width: 100%;
  display: flex; justify-content: center;
  padding: 40px 0;
  #articles-wrap {
    margin: 0 40px;
    display: grid; grid-template-columns: 1fr; gap: 40px 0;
    width: 600px;
    .card {
      .created-at { font-size: 0.85rem; }
      .title { margin: 5px 0 20px 0; text-decoration: underline; }
      .description { font-family: $font-header; }
    }
  }
}